absl-py==2.3.1
clu==0.0.12
flax==0.8.5
jax==0.4.30
jax-cuda12-pjrt==0.4.30
jax-cuda12-plugin==0.4.30
jaxlib==0.4.30
matplotlib==3.9.4
ml_collections==0.1.1
numpy==2.0.2
optax==0.2.4
PySCIPOpt==5.5.0
tensorboard==2.19.0
tensorflow==2.19.0
tqdm==4.67.1
wandb==0.21.1
